<span *ngIf="!ad">Loading...</span>
<div *ngIf="ad" class="page-ad">

    <h2 class="title-ad">{{ ad.title }}</h2>

    <notice-carousel [images]="images"></notice-carousel>

    <div class="description">
        <p>{{ ad.description }}</p>
        <span class="price-ad">{{ ad.price | number }} {{ ad.currency }} </span>
    </div>

    <div class="description">

        <div>{{ 'ad.label.state' | translate }}:
            <span [ngSwitch]="ad.second_hand">
                <span *ngSwitchCase="true">{{ 'ad.label.state.used' | translate }}</span>
                <span *ngSwitchDefault>{{ 'ad.label.state.new' | translate }}</span>
            </span>
        </div>

        <div *ngIf="ad.delivery_description">{{ 'ad.label.delivery_description' | translate }}: {{ ad.delivery_description }}</div>

    </div>
    <div class="contacts-ad">

        <div>{{ 'ad.label.created_at' | translate }}:
            <a [routerLink]="['/user/' + ad.user.username + '/ads']">{{ ad.user.username }}</a>
            {{ ad.created_at | date }}
        </div>
        <div>{{ 'ad.label.phone' | translate }}: {{ ad.user.phone }}</div>
        <div>{{ 'ad.label.city' | translate }}: {{ ad.user.city.name }}</div>

    </div>

</div>

