<span *ngIf="!ad">Loading...</span>
<div *ngIf="ad" class="page-ad">

    <h2 class="title-ad">{{ ad.title }}</h2>

    <notice-carousel [images]="images"></notice-carousel>

    <div class="description">
        <p  [innerHtml]="ad.description | stripTags | nl2br"></p>
    </div>

    <div class="description">
        <p>
            <span class="bold">{{ 'ad.label.state' | translate }}:</span>
            <span [ngSwitch]="ad.second_hand">
                <span *ngSwitchCase="true">{{ 'ad.label.state.used' | translate }}</span>
                <span *ngSwitchDefault>{{ 'ad.label.state.new' | translate }}</span>
            </span>
        </p>
        <p *ngIf="ad.delivery_description"><span class="bold">{{ 'ad.label.delivery_description' | translate }}:</span>
            {{ ad.delivery_description }}
        </p>
    </div>

    <span class="price-ad">{{ ad.price | number }} {{ ad.currency }} </span>



    <div class="description">
        <p><span class="bold">{{ 'ad.label.user' | translate }}:</span> <a [routerLink]="['/user/' + ad.user.username + '/ads']">{{ ad.user.username }}</a></p>
        <p><span class="bold">{{ 'ad.label.created_at' | translate }}:</span>  {{ ad.created_at | date }}</p>
        <p><span class="bold">{{ 'ad.label.phone' | translate }}:</span>  {{ ad.user.phone }}</p>
        <p><span class="bold">{{ 'ad.label.city' | translate }}:</span>  {{ ad.user.city.name }}</p>
    </div>

</div>

