<span *ngIf="!ad">Loading...</span>
<div *ngIf="ad" class="page-ad">


    <notice-carousel [images]="images" ></notice-carousel>
    <h2 class="title-ad">{{ ad.title }}</h2>
    <div class="description">
        <p>{{ ad.description }}</p>
        <span class="price-ad">{{ ad.currency }} {{ ad.price | number:'3.0-5' }}</span>
    </div>
    <div class="description">
        <p>{{ 'ad.label.delivery_description' | translate }}: {{ ad.delivery_description }}</p>
        <p>Tel: {{ ad.user.phone }}</p>
    </div>
    <div class="contacts-ad">
        <p><span class="condition">{{ ad.user.city.name }}</span><span class="info-ad">
            {{ ad.user.username }}</span></p>
    </div>
</div>

