<a [routerLink]="['/ads', ad.id]">
    <div class="image">
        <div class="image-background">
            <p class="center">
                <img *ngIf="!ad.images.length" src="http://placehold.it/120x80" alt="{{ ad.title }}">
                <img *ngIf="ad.images.length" src="/images/{{ ad.images[0].file_key }}.small.{{ ad.images[0].format }}">
            </p>
        </div>
    </div>

    <h3>{{ ad.title }}</h3>
    <p class="text">
        {{ ad.description | slice:0:150 }}
    </p>
</a>
<p class="price">{{ ad.currency }} {{ ad.price }}</p>
<div class="info">
    <p class="info-left">{{ ad.user.city.name }}</p>
    <p class="info-right">
        <span *ngIf="!showEditButton">{{ ad.user.phone }}</span>
        <a *ngIf="showEditButton" [routerLink]="['/ads', ad.id, '/edit']" >{{ 'ad.button.edit' | translate }}</a>
    </p>
</div>


