<div class="ads">
    <div class="side-bar">
        <div class="logo">
            <h1><a routerLink="/">LOGO</a></h1>
        </div>
        <div class="main">

            <div  *ngIf="logged" >
                <ul>
                    <li>{{ user.username }}</li>
                    <li><a routerLink='/login'>My ads</a></li>
                </ul>
            </div><!-- end user menu -->

            <ul *ngIf="!logged" >
                <li><a routerLink='/login'>Login</a></li>
            </ul>

            <ul>
                <li *ngFor="let category of categories | async" >
                    <a [routerLink]="['/ads/' + category.id]">{{ category.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>