<form [formGroup]="adForm" (submit)="onSubmit()">

    <label for="title">{{ 'ad.label.title' | translate}}</label>
    <input formControlName="title"
           id="title"
           type="text"
           class="ad-input">

    <label for="description">{{ 'ad.label.description' | translate}}</label>
    <textarea formControlName="description"
              id="description"
              class="ad-input"></textarea>

    <label for="category">{{'ad.label.category' | translate}}</label>
    <select formControlName="category"
            id="category"
            class="ad-input">
        <option *ngFor="let c of categories | async" [ngValue]="c">{{c.name}}</option>
    </select>

    <label for="price">{{'ad.label.price' | translate}}</label>
    <input formControlName="price"
           id="price"
           type="text"
           class="ad-input">


    <label for="bargain">{{'ad.label.bargain' | translate}}</label>
    <input formControlName="bargain"
           id="bargain"
           type="checkbox"
           class="ad-input-checkbox">

    <label for="delivery">{{'ad.label.delivery' | translate }}</label>
    <input formControlName="delivery"
           id="delivery"
           type="checkbox"
           class="ad-input-checkbox">

    <label for="delivery_description">{{'ad.label.delivery_description' | translate}}</label>
    <input formControlName="delivery_description"
           id="delivery_description"
           type="text"
           class="ad-input">

    <form>
        <p *ngFor="let image of uploadedImages">
            ID: {{ image.id }}
            <img src="http://127.0.0.1:8000/images/{{ image.file_key }}.small.{{ image.format }}">
        </p>

        <label for="file">Click here to add a photo</label>
        <input type="file" id="file" multiple [ng-file-select]="uploadOptions"
               (onUpload)="handleUploadImage($event)">
    </form>

    <button class="btn btn-primary" type="submit" [disabled]="!adForm.valid">
        {{'ad.label.btn_save' | translate}}
    </button>

</form>

