<form class="users-input" [formGroup]="adForm" (submit)="onSubmit()">

    <label for="title">{{ 'ad.label.title' | translate}}</label>
    <input formControlName="title"
           id="title"
           type="text"
           class="ad-input">

    <label for="description">{{ 'ad.label.description' | translate}}</label>
    <textarea formControlName="description"
              id="description"
              maxlength="540" rows="4"
              class="ad-input"></textarea>

    <label for="category">{{'ad.label.category' | translate}}</label>
    <select formControlName="category"
            id="category"
            class="ad-input-category">
        <option *ngFor="let c of categories | async" [ngValue]="c.id">{{c.name}}</option>
    </select>

    <label class="for-price" for="price">{{'ad.label.price' | translate}}</label>
    <div class="price-block">
        <input formControlName="price"
               id="price"
               type="text"
               class="ad-input"
               value="{{ ad?.price }}">
        <select class="name-currency" formControlName="currency" >
            <option *ngFor="let curr of currencies" [ngValue]="curr">{{ curr }}</option>
        </select>
        <label for="bargain">{{'ad.label.bargain' | translate}}</label>
        <input formControlName="bargain"
               id="bargain"
               type="checkbox"
               >
    </div>

    <label for="secondHand">{{'ad.label.secondHand' | translate }}</label>
    <input formControlName="second_hand"
           id="secondHand"
           type="checkbox"
           class="ad-input-checkbox">

    <label for="delivery_description">{{'ad.label.delivery_description' | translate}}</label>
    <input formControlName="delivery_description"
           id="delivery_description"
           type="text"
           class="ad-input">

    <form>
        <div class="upload-button-block">
            <label for="file">{{ 'ad.label.image.add.button' | translate }}</label>
            <input type="file" id="file" multiple [ng-file-select]="uploadOptions"
                   (onUpload)="handleUploadImage($event)">
        </div>
        <div class="image-background">
            <div *ngFor="let image of uploadedImages" class="upload-preview  image-background">
                <img src="/images/{{ image.file_key }}.small.{{ image.format }}">
                <button (click)="onDeleteImage(image)" class="remove-button">
                    {{ 'ad.label.image.delete' | translate }}
                </button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary" type="submit" [disabled]="!adForm.valid">
        {{'ad.label.btn_save' | translate}}
    </button>

</form>

