<form [formGroup]="formModel"
      class="form-horizontal"
      (ngSubmit)="onLogin()">

    <label>Username
        <input type="text" class="ad-input" formControlName="username">
    </label>

    <label>Password
        <input type="password" class="ad-input" formControlName="password">
    </label>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<p>
    Do not have an account yet? Please <a routerLink='/registration'>register</a>.
</p>

