<div class="alert-error" [hidden]="!formErrors">{{ formErrors }}</div>


<form [ngFormModel]="formModel"
      class="form-horizontal"
      (ngSubmit)="onLogin()">

    <label>Username
                <span class="input-validation-text"
                      [hidden]="!formModel.hasError('required', 'username') || formModel.controls['username'].pristine">
                    Username is required
                </span>
        <input type="text" class="ad-input" ngControl="username">
    </label>


    <label>Password
        <input type="password" class="ad-input" ngControl="password">
    </label>
        <span class="input-validation-text"
              [hidden]="!formModel.hasError('required', 'password') || formModel.controls['password'].pristine">
                    Password is required
                </span>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<p>
    Do not have an account yet? Please <a routerLink='/registration'>register</a>.
</p>

