<div class="ads">
    <div class="side-bar">
        <div class="logo">
            <h1><a routerLink="/" >LOGO</a></h1>
        </div>
        <div class="main">
            <div class="enter" *ngIf="logged">Logged in as <strong>{{username}}</strong></div>
            <div *ngIf="!logged"><a routerLink='/login'>Login</a></div>

            <div class="add">
                <a routerLink='/'>Create ad</a>
            </div>
            <p> &nbsp;</p>

            <ul>
                <li *ngFor="let category of categories | async">
                    <a [routerLink]="['/ads/' + category.id]">{{ category.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<header>
    <div class="wrapper">
        <div class="title">
            <a href="#"><img src="img/left-main.jpg" alt="left-main"></a>
            <h2>{{ pageTitle }}</h2>
        </div>
        <notice-board-search></notice-board-search>
    </div>
</header>

<div class="content">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</div>

<footer>
    <div class="wrapper">
        <div class="bottom">
            <div class="left-column">
                <ul>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="right-column">
                <div class="copyright">
                    <p>&copy; Copyright</p>
                </div>
            </div>
        </div>
    </div>
</footer>

